* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    /*altera as fontes do documento*/

}

.cabecalho {
    width: auto;
    /*coloca em auto a largura do cabeçalho*/
    background-color: rgb(43, 99, 80);
    /*cor de fundodo cabeçalho*/
    color: black;
    /*cor da fonte*/
    display: flex;
    /*flex box*/
    justify-content: space-around;
    /*adiciona um espaço ao redor de todos os elementos*/
    align-items: center;
    /*centraliza os itens na horizontal*/
    padding: 24px 0px;
    /*espaçamento interno  na vertical de 24px e 0px na horizontal*/

}

.item-cabecalho {

    display: inline-block;
    /*coloca ites da lista em linha*/
    margin: 0px 16px;
    /* coloca margem externa 0 na vertical e 16px na horizontal*/
}

.img-cabecalho {
    width: 10%;
    /*ajusta o tamanho da imagem*/
}

.escola {
    width: auto;
    /*coloca a largura em auto*/
    background-image: linear-gradient(#fae9e9, #3fcaec);
    /*coloca um fundo com gradiente linear*/
    color: black;
    /*cor da fonte*/
    display: flex;
    /*adiciona a flex box*/
    justify-content: center;
    /*centraliza todos os elementos*/
    align-items: center;
    /*alinha os itens ao centro*/
    padding: 24px 0px;
    /*espaçamento interno  na vertical de 24px e 0px na horizontal*/
}

.conteudo-escola {
    width: 40%;
    padding: 24px 24px;
    /*espaçamento interno  na vertical de 24px e 24px na horizontal*/
}

.titulo-escola {
    padding: 20px 20px;
    /*espaçamento interno  na vertical de 20px e 20px na horizontal*/
    font-size: 16px;
    /*tamanho da fonte em 16px*/
}

.texto-escola {
    text-align: justify;
    /*justifica o texto*/
}

.img-escola {
    width: 30%;
    /*ajusta o tamanho da imagem*/
}

.midias-sociais {
    width: auto;
    padding: 24px;
    /*espaçamento interno  na vertical de 10px e 0px na horizontal*/
    text-align: center;
    /*alinha o texto ao centro*/
    display: flex;
    /*flex box*/
    flex-direction: column;
    /*alinha os elementos em ccoluna*/
    align-items: center;
    /*distribui os elementos ao centro*/
    justify-content: space-around;
    /*adiciona um espaço ao redor de todos os elementos*/
}

.ideias {

    width: 35%;
    padding: 20px;
}

.img-ideias{
width: auto;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.rodape {
    width: auto;
    background-color: rgb(43, 99, 80);
    /*cor do plano de fundo do rodapé*/
    color: antiquewhite;
    /*cor da fonte do rodapé*/
    padding: 24px 0px;
    /*espaçamento interno  na vertical de 24px e 0px na horizontal*/
    display: flex;
    /*fex box*/
    justify-content: space-around;
    /*adiciona um espaço ao redor de todos os elementos*/

}

.rede-social {
    width: 24px;
    /*tamanho dos icones da rede social no rodapé*/
    padding: 5px;
}