* {
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    background-color: rgb(134, 238, 238);
    /*cor de fundodo cabeçalho*/
    color: black;
    /*cor da fonte*/
    display: flex;
    /*flex box*/
    justify-content: space-around;
    /*adiciona um espaço ao redor de todos os elementos*/
    align-items: center;
    /*centraliza os itens na horizontal*/
    padding: 24px 0px;
    /*espaçamento interno  na vertical de 24px e 0px na horizontal*/

}

.item-cabecalho {

    display: inline-block;
    /*coloca ites da lista em linha*/
    margin: 0px 16px;
    /* coloca margem externa 0 na vertical e 16px na horizontal*/
}

.escola{
    background-image: linear-gradient(#fae9e9,#3fcaec);
    color: black;
    display: flex;
    justify-content: space-around;
    
}